{:tasks {:requires ([clojure.string :as str])
         docker-build (shell "docker build -t gcr.io/atomist-skill-production/skill-sample-2 .")
         docker-push (shell "docker push gcr.io/atomist-skill-production/skill-sample-2")
         -bundle (shell "atm-skill generate --no-validate")
         -extract-digest (let [out (:out (shell {:out :string} "docker inspect --format '{{.RepoDigests}}' gcr.io/atomist-skill-production/skill-sample-2:latest"))
                                 digest (second (re-find (re-pattern "\\[.*(sha256:.*)\\]") out)) ]
                             (println "extracted " digest)
                             digest)
         -increment-digest {:depends [-extract-digest]
                            :task (let [s (slurp "./skill.yaml")
                                        output (str/replace s (re-pattern "(image: .*@)(.*)") (format "$1%s" -extract-digest))]
                                    (spit "skill.yaml" output))}        
         -increment-version "0.1.28"
         register {:depends [docker-build docker-push -increment-version -increment-digest -bundle]
                    :task (shell {:dir "/Users/slim/atmhq/bb_scripts"} (format "bb cli register-skill --team AQ1K5FIKA --version %s" -increment-version))}
         test-webhook (shell "curl https://slimslenderslacks:password@webhook.atomist.com/atomist/resource/db14277d-6b0a-40bf-b44e-12640d8399f4 -d '{\"a\": \"b\"}' -H 'Content-Type: application/json'")}}
